.container{
 margin-left: 100px;
margin-right: 100px;
  position: relative;
}
.welcome{
text-align: start;
position: absolute;
top: 150px;
font-size: 35px;

}
.i18{
  margin-top: -20px;
}

.img2{
  display: block;
  margin-left: auto;
 height: 250px;
  /* position: absolute; */
}
select{
  position: absolute;
left: 170px;
  top: 30px;
  height: 60px;
  width: 200px;
  font-size: 25px;
  bottom: auto;
  border: none;

}
hr{
  margin: 0%;
}
