.container{
 margin-left: 100px;
 margin-right: 100px;
  font-size: 35px;
  position: relative;
}
.welcome{
text-align: center;
padding-top: 100px;

}
select{
  position: absolute;
  right: 100px;
  top: 0;
  height: 40px;
  width: 150px;
  font-size: 20px;
  bottom: auto;
}
hr{
  margin: 0%;
}
